@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 375px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 0.05em;
    color: white;
    background-color: rgb(185, 185, 185);
}


header {
    background-color: rgb(38, 38, 125);
    text-align: center;
    flex: 0 80px;
    width: 100%;
    padding: 0.5em;
}

main {
    text-align: center;
    color: rgb(38, 38, 125);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

footer {
    background-color: rgb(38, 38, 125);
    text-align: center;
    flex: 0 30px;
    margin-top: auto;
    padding: 0.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin: 0 auto;
}

a {
    color: rgb(185, 185, 185)
}

.gray-html {
    background-color: rgb(128, 128, 128);
    padding: 1em;
    margin: 1em auto;
    border-radius: 4px;
    width: 275px;
    color: white;
}

.gray-scoreboard {
    background-color: rgb(128, 128, 128);
    padding: 1em;
    margin: 1em auto;
    border-radius: 4px;
    width: 90%;
    color: white;
}

input[type="text"] {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid rgb(128, 128, 128);
    width: 200px;
    margin-bottom: 1em;
}

input[type="submit"] {
    padding: 0.5em 1em;
    border-radius: 4px;
    border: none;
    background-color: rgb(38, 38, 125);
    color: white;
    cursor: pointer;
    font-family: "Bree Serif", serif;
}

#button {
    padding: 1em;
    border-radius: 4px;
    border: none;
    background-color: rgb(38, 38, 125);
    color: white;
    cursor: pointer;
    width: 200px;
    margin: 1em auto;
    font-family: "Bree Serif", serif;
}

.answer-container {
    background-color: rgb(128, 128, 128);
    padding: 1em;
    margin: 1em auto;
    border-radius: 4px;
    width: 75%;
    color: white;
}

.score-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 60%;
}

.answer {
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    width: 20%;
    text-align: left;
    border: 8px solid rgb(128, 128, 128);
}

.points {
    width: 1%;
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    border: 8px solid rgb(128, 128, 128);
}

img {
    width: 300px;
    height: auto;
    margin: 1em auto;
    border: 10px solid rgb(128, 128, 128);
    border-radius: 4px;
}

#question {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid rgb(128, 128, 128);
    width: 90%;
    margin-bottom: 1em;
}

input.answer {
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    width: 70%;
    text-align: left;
    border: 3px solid rgb(128, 128, 128);
}

input.points {
    width: 20%;
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    border: 3px solid rgb(128, 128, 128);
}

a:hover {
    color: rgb(0, 145, 255);
}